/* font */
/* overall style */
* {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: #3f3f3f;
  font-family: "Work Sans", sans-serif; }

/* webshop section */
.webshop {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: 100px;
  font-family: "Work Sans", sans-serif;
  font-weight: 300; }
  .webshop__banner {
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 3; }
  .webshop__banner-image {
    width: 100%;
    opacity: 0.5; }
  .webshop__header {
    text-align: center;
    margin-top: -9%;
    letter-spacing: 0.2em;
    font-size: 35px;
    font-weight: 600; }
  .webshop__subtext {
    text-align: center;
    letter-spacing: 0.1em;
    line-height: 1.8;
    font-weight: 600; }
  .webshop__filter {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 9;
    background-color: #f1b59f;
    margin-right: 40px;
    margin-top: -1px; }
  .webshop__category {
    display: block;
    border: none;
    background: none;
    font-size: 20px;
    font-family: "Work Sans", sans-serif;
    margin: 5%;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    font-weight: 300; }
  .webshop__dropdown-closed {
    display: none; }
  .webshop__link {
    display: block;
    font-size: 17px;
    line-height: 1.5;
    margin-left: 4%; }
  .webshop__products {
    grid-column-start: 4;
    grid-column-end: 13;
    grid-row-start: 3;
    grid-row-end: 8; }
  .webshop__list {
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-left: -50px; }
  .webshop__items {
    width: 275px;
    height: 250px;
    text-align: center;
    position: relative; }
  .webshop__image {
    width: 60%;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden; }
  .webshop__hover {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center; }
  .webshop__buy {
    background-color: #f1b59f;
    color: black;
    font-size: 10px;
    padding: 10px 25px; }
  .webshop__modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #f1b59f;
    background-color: rgba(241, 181, 159, 0.2);
    font-family: "Work Sans", sans-serif; }
  .webshop__modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 70%;
    column-count: 2;
    border: none; }
  .webshop__modal-product {
    padding: 20px 0px 15px 0px;
    line-height: 40px; }
  .webshop__modal-headline {
    font-size: 35px;
    font-weight: 600; }
  .webshop__modal-image {
    width: 80%; }
  .webshop__modal-name {
    font-size: 30px; }
  .webshop__modal-price {
    font-size: 25px; }
  .webshop__modal-description {
    font-size: 20px;
    margin-bottom: 20px; }
  .webshop__modal-buy {
    background-color: #f1b59f;
    color: black;
    font-size: 16px;
    padding: 13px 25px; }

/* hover button inspiration from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_image_overlay_opacity */
.webshop__items:hover .webshop__image {
  opacity: 0.7; }

.webshop__items:hover .webshop__hover {
  opacity: 1; }

/* modal close button */
.modal-close {
  color: #f1b59f;
  float: right;
  font-size: 28px;
  margin-top: -25px;
  cursor: pointer; }

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer; }

/*# sourceMappingURL=styles_webshop.css.map */
