$font-heading: 'Work Sans', sans-serif;


body {
	font-family: $font-heading;
	color: #3f3f3f;
}

p {
	font-weight: 300;
}


.video {
	margin-top: 5%;
	height: 400px;
	background-color: antiquewhite;
}


.products {
	float: right;
	background-color: #f2b6a0;
	max-width: 30%;
	padding: 4%;
	margin: -190px 100px 0px 0px;
	
	&__description {
		line-height: 30px;
	}
}


.webshoplink {
	float: right;
	margin: 30px -460px 0px 0px;
	background-color: #f27830;
	padding: 1%;
	text-decoration: none;
	color: black;
	

	}

.openinghours {
	margin: -20px 0px 0px 50px;
	
	h4, h3, p, address {
		text-align: center;
		text-decoration: none;
	}
	
}



