$font-heading: 'Work Sans', sans-serif;

/* ---- OVERALL STYLES ---- */

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #3f3f3f;
}

/* VIDEO SECTION */

.container {
    width: 100%;
    overflow: hidden;
    display: block;
    height: 400px;
}

.video {
    margin-top: -200px;
    width: 100%;
    //z-index: 1;
    //position: relative;
}

/* Header text SECTION */

.header {
    font-family: $font-heading;
    text-align: center;
    margin: 2%;
    &__text {
        font-size: 40px;
        color: #f2b6a0;
    }
}

/* PRODUCTS AND WEBSHOPLINK SECTION */

.products {
    font-family: $font-heading;
	background-color: #f2b6a0;
    width: 350px;
    padding: 2%;
    margin-left: 12%;
    margin-top: 4%;
    &__description {
        font-size: 16px;
        line-height: 30px;
    }
}

.webshop {
    font-family: $font-heading;
    &__button {
        background-color: #f27830;
        padding: 14px;
        margin-left: 26%;
    }
    &__button:hover {
        background-color: #f27127;;
    }
}

.info {
   font-family: $font-heading;
    float: right;
    text-align: center;
    margin-top: -240px;
    margin-right: 250px; //150
    margin-bottom: 10%;
    &__header {
        font-size: 30px;
        color: #f27830;
    }
    &__text {
        margin-top: 4%;
        font-size: 20px;
        line-height: 35px;
    }
}

/* news */

.news {
	background-color: #f2b6a0;
	padding: 3% 5% 3% 5%;
    margin-top: 5%;
    &__header{
        font-family: $font-heading;
        text-align: center;
        font-size: 28px;
        margin-bottom: 3%;
    }
    &__image {
        width: 500px;
        margin-left: 4%;
        box-shadow: 0 0px 35px rgba(0, 0, 0, 0.4);
        margin-bottom: 4%;
    }
    &__article {
        column-count: 3;
        font-family: $font-heading;
        line-height: 30px;
    }
    &__headline {
        font-size: 20px;
        margin-left: 19px;
        font-weight: 600;
    }
    &__text {
        padding: 0px 20px 20px 20px;
    }
	
}