$font-heading: 'Work Sans', sans-serif;

/* -- OVERALL STYLING -- */

/* --  ABOUT SECTION ----  */

.about {
    padding-left: 4%;
    padding-bottom: 4%;
	&__article {
	   max-width: 30%;
	   line-height: 30px;
	   margin-left: 5%;
        font-family: $font-heading;
	   }
	&__headline {
		font-size: 28px;
		padding-bottom: 1%;
	}
	&__img {
        max-width: 33%;
        float: right;
        margin-top: -22%;
        margin-right: 18%;
	}
}

#animation_container{
    margin-top: -21%;
    margin-right: 2%;
   
}

#canvas{
    text-decoration: none;
    width: 500px;
}
/*  ---   FOOTER GALLERY --- */

.gallery {
	background-color: #f2b6a0;
	padding: 3% 5% 3% 5%;
    justify-content: center;
    &__headline{
        font-family: $font-heading;
        text-align: center;
        font-size: 28px;
        margin-bottom: 2%;
    }
    &__img{
        width: 350px;
        display: inline-block;
        padding-left:2%;
    }
	
	
}