$font-heading: 'Work Sans', sans-serif;


body {
	font-family: $font-heading;
	color: #3f3f3f;
}

p {
	font-weight: 300;
}

.openinghours {
	background-color: #f2b6a0;
	margin-top: 5%;
	padding: 2% 0px 2% 5%;

	
	
}

