$font-heading: 'Work Sans', sans-serif;

/* -- OVERALL STYLING -- */

/* --  ABOUT SECTION ----  */

.about {
    margin-top: 2%;
	&__article {
	max-width: 30%;
	padding: 4%;
	line-height: 30px;
	margin-left: 5%;
    font-family: $font-heading;
	}
	&__h1 {
		font-size: 150%;
		padding-bottom: 1%;
	}
	&__img {
		max-width: 40%;
		float: right;
		margin-top: -25%;
		margin-right: 9%;
	}
}


/*  ---   OPENINGHOURS BOTTOM SECTION --- */

.openinghours {
	background-color: #f2b6a0;
	margin-top: -1%;
	padding: 2% 0px 3% 9%;
	font-family: $font-heading;
	&__address {
		padding-top: 2%;
	}
}