/* font */
$font-family: 'Work Sans', sans-serif;

/* overall styling */
* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #3f3f3f;
}

/* navigation */
.navigation {
    font-family: $font-family;
    margin-left: 5%;
    margin-top: 3%;
    color: #f27830;
    font-weight: 200;
    &__name {
        display: inline-block;
        font-size: 40px;
    }
    &__line {
        display: inline-block;
        list-style-type: none;
        width: 62%; // 70%
        border-bottom: 3px solid #f27830;
        margin-bottom: 50px;
    }
    &__link {
        display: inline-block;
        font-size: 20px;
        margin-left: 6%;
    }
}

/* shoppingcart icon */
.shoppingcart {
    font-size: 32px;
    float: right;
    margin-top: -6%;
    margin-right: 7%;
    color: #7e7e7e;
}

/* DA/EN */
.available_languages {
    font-family: $font-family;
    color: #f27830;
    float: right;
    margin-right: 2%;
    margin-top: -8%;
    font-weight: 300;
}